[Unit]
Description=2FA Gateway
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/opt/AuthProxy
Environment="PATH=/opt/AuthProxy/venv/bin"
ExecStart=/opt/AuthProxy/venv/bin/gunicorn -w 4 -b 0.0.0.0:5000 app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target